
.form-container{
    padding:30px;
    box-shadow: rgba(4, 44, 117, 0.219) 0px 1px 4px;
    border-radius: 10px;
    min-width:50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container  form .error_msg {
    padding: 10px;
    border-radius: 6px;
    color: #d8000c;
    background-color: #ffbaba;
    margin-top: 20px;

  }


a{
    cursor: pointer;
    text-decoration: none;
    color: #0fa58f;
}

.bordert{
    margin-top: 30px;
    border-top:1px solid #c6c6c6;
	position: relative;
    padding-top:20px
}

.bordert:after{
    content:"or connect with";
    position:absolute;
    top:-13px; 
    left:38%;
    background-color:white; 
    padding:0 8px;
}
.logo-login{
    display: flex;
    justify-content: center;
    margin-bottom:20px;
    margin-top: -38px;
  }
  
  .logo-login .site-logo{
    height: 70px;
    margin-top: 10px;
  }

 