.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

/* Save Button */

.save-button {
    background-color:#1a867d;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    float: right;
  }
  
  .save-button:hover,
  .save-button:focus {
    background-color: #07c;
  }
  
  .save-button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .save-button:active {
    background-color: #0064bd;
    box-shadow: none;
  }

  /* Reset Button */

  .reset-button {
    background: #008774;
    border: 2px solid #029480;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .reset-button:hover,
  .reset-button:active {
    background-color: initial;
    background-position: 0 0;
    color: #008774;
  }
  
  .reset-button:active {
    opacity: .5;
  }

  /* Delete Button */

  .delete-button {
    background: #f7bfbf;
    border: 2px solid #f19e9e;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #d94b4b;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .delete-button:hover,
  .delete-button:active {
    background-color: initial;
    background-position: 0 0;
    color: #cf0000;
  }
  
  .delete-button:active {
    opacity: .5;
  }

  a{
    color: black;
    font-weight: 300;
  }
  a:hover{
    color:#008774;
    font-weight: 500;
  }

    /* Terminate Button */
.terminate-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-size: 11px;
  float: right;
  border-radius: 25px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #d91d1d 0%, #e11e1e 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.terminate-button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* Active section */

.active-list{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; padding: 10px 0px 0px 0px; border-radius: 15px;
}