@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  padding: 1rem 1rem 0rem 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("src/assets/images/bg (2).png"); */
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  margin-top: 20px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  
/* ======================================================================= */

a {
  text-decoration: none;
  cursor: pointer;
}
nav{
  position:fixed;
  z-index:1000;
}


 .login-register {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.login-register .button {
  
  color: #DAFFFB;
  border: 2px solid #009182;
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  cursor: pointer;
  border-radius:7px;
  background: #009182;
}

 .login-register .button:hover {
  background:#f5fefd;
  color: #009182;
  text-decoration: none;
}



@media(max-width: 1000px) {


 .login-register .button {
      font-size: 0.9rem;
  }
}

@media(max-width: 800px) {



 .login-register {
  width: 50%;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  }

.login-register .button {
  padding: 5px 14px 4px 13px;
  width: 218px;
  margin-inline: auto;
  }
  .main {
      font-size: 2rem;
  }
}

.navbar-container .navmenu-items.active {
  right: 0;
}

.form-container{
  padding:30px;
  box-shadow: rgba(4, 44, 117, 0.219) 0px 1px 4px;
  border-radius: 10px;
  min-width:50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container  form .error_msg {
  padding: 10px;
  border-radius: 6px;
  color: #d8000c;
  background-color: #ffbaba;
  margin-top: 20px;

}
small{
  float: right;
  color: crimson;
  margin-top: 5px;
}
i{
  cursor: pointer;

}
i:hover{
  box-shadow: 0 5px 20px 5px #fffefe44;
  transform: translate3D(0,-1px,0) scale(1.03);
}
.wrapper{
  padding:60px 30px 20px 30px;
}
.active-nav{
  font-weight: 500;
  color: #009182;
}

.progress-spinner {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999; 
}




